.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #70BAFD;
    padding: 20px 40px;
    .logo{
        height: 70px;
        width: 70px;
        object-fit: contain;
    }
    .social-wrapper{
        display: flex;
        .icon-wrapper{
            background-color: white;
            padding: 10px;
            border-radius: 50px;
            margin: 0px 10px;
            .icon-medsos{
                margin: auto;
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }
    }
}
.copyright{
    background-color: #53AFF4;
    padding: 10px 0px;
    p {
        font-size: 14px;
        color: white;
        text-align: center;
        margin: 0px;
    }
}